<div class="row">
  <% @tambos.each do |tambo| %>
    <%= tambo_hover_color(tambo).html_safe %>
    <div class="col-md-4">
      <%= link_to tambo_path(tambo) do %>
        <aside id="tambo_id_<%= tambo.id %>" class="profile-nav alt">
          <section class="card">
            <div class="card-header user-header alt bg-dark">
              <div class="media">
                <%= image_tag tambo.display_logo, class: "align-self-center rounded-circle mr-3", style: "width:65px; height:65px;" %>
                <div class="media-body">
                  <h2 class="text-light display-6"><%= tambo.name %></h2>
                  <p><%= tambo.address %></p>
                </div>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fa fa-dot-circle-o"></i> 
                Vacas secas 
                <span class="badge badge-dry pull-right">
                  <%= tambo.cows.dry.count %>
                </span>
              </li>
              <li class="list-group-item">
                <i class="fa fa-dot-circle-o"></i> 
                Vacas preñadas 
                <span class="badge badge-pregnant pull-right">
                  <%= tambo.cows.pregnant.count %>
                </span>
              </li>
              <li class="list-group-item">
                <i class="fa fa-dot-circle-o"></i> 
                Vacas vacía
                <span class="badge badge-empty pull-right">
                  <%= tambo.cows.empty.count %>
                </span>
              </li>
              <li class="list-group-item">
                <i class="fa fa-dot-circle-o"></i> 
                Vacas para descarte 
                <span class="badge badge-discard pull-right r-activity">
                  <%= tambo.cows.discard.count %>
                </span>
              </li>
            </ul>
          </section>
        </aside>
      <% end %>
    </div>
  <% end %>
</div>
