<div class="card border border-secondary">
  <div class="card-header" style="border-bottom:none">
    <%= image_tag(@tambo.display_logo, class: "tambo-logo-mini") %>
    <strong>
      <%= @tambo.name %>
    </strong>
    | <%= @tambo.address %> - Tel: <%= @tambo.phone_contact %>
    <small>
      <span class="float-right mt-1">
        <%= link_to 'Editar', edit_tambo_path(@tambo), class: 'edit-btn-cust btn-info' %>
      </span>
    </small>
  </div>
</div>

<div class="card border border-secondary">
  <div class="card-header" style="border-bottom:none">
    <%= form_tag(search_cow_path, method: :get) do %>
      <div class="input-group">
        <%= text_field_tag(:caravan, params[:caravan], placeholder: "ingrese numero de caravana", class: "form-control") %>
        <%= hidden_field_tag :tambo_id, @tambo.id %>
        <div class="input-group-btn">
          <%= submit_tag "Buscar", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card border border-secondary">
  <div class="card-header">
    <strong>
      Vacas en el Tambo: <%= @vacas.no_dry.count %>
    </strong>
    <span class="float-right">
      <%= image_tag "2_cow_icon.png", class: "cow-reference" %> Preñada - 
      <%= image_tag "3_cow_icon.png", class: "cow-reference" %> Descarte - 
      <%= image_tag "4_cow_icon.png", class: "cow-reference" %> Vacía - 
      <%= image_tag "6_cow_icon.png", class: "cow-reference" %> Servida
    </span>
  </div>
  <div class="card-body card-block"> 
    <%= link_to new_cow_path, :data => { :toggle => 'modal', :target => '#new_cow_modal' } do %>
      <div class="cow-item">
          <i class="fa fa-plus-square cow-add-icon"></i></br>
          Agregar
      </div>
    <% end %>
    <% @vacas.no_dry.each do |cow| %>
      <%= link_to cow_path(cow) do %>
        <div class="cow-item">
          <%= image_tag "#{cow.status_number}_cow_icon.png" %></br>
          <%= cow.caravan_with_type %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card border border-secondary">
  <div class="card-header">
    <strong>
      Vacas secas: <%= @vacas.dry.count %>
    </strong>
    <span class="float-right">
      <%= image_tag "1_cow_icon.png", class: "cow-reference" %> Seca
    </span>
  </div>
  <div class="card-body card-block"> 
    <% @vacas.dry.each do |cow| %>
      <%= link_to cow_path(cow) do %>
        <div class="cow-item">
          <%= image_tag "#{cow.status_number}_cow_icon.png" %></br>
          <%= cow.caravan_with_type %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card border border-secondary">
  <div class="card-header">
    <strong>
      Plantel de vaquillonas: <%= @vaquillonas.count %>
    </strong>
  </div>
  <div class="card-body card-block"> 
    <%= link_to new_cow_path, :data => { :toggle => 'modal', :target => '#new_cow_modal' } do %>
      <div class="cow-item">
          <i class="fa fa-plus-square cow-add-icon"></i></br>
          Agregar
      </div>
    <% end %>
    <% @vaquillonas.each do |cow| %>
      <%= link_to cow_path(cow) do %>
        <div class="cow-item">
            <%= image_tag "#{cow.status_number}_cow_icon.png" %></br>
          <%= cow.caravan_with_type %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="animated fadeIn border border-secondary">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong class="card-title">Planilla</strong>
        </div>
        <div class="card-body">
          <div id="bootstrap-data-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="bootstrap-data-table_length">
                  <label>
                    Buscar:
                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="bootstrap-data-table">
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="bootstrap-data-table_length">
                  <button type="button" class="btn btn-success">Agregar</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table id="bootstrap-data-table" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                        Caravana
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" style="width: 120px;" aria-label="Position: activate to sort column ascending">
                        F. Parto
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" style="width: 100px;" aria-label="Office: activate to sort column ascending">
                        Nº Servicio
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" style="width: 100px;" aria-label="Salary: activate to sort column ascending">
                        F. Servicio
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" style="width: 100px;" aria-label="Salary: activate to sort column ascending">
                        Fecha
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" style="width: 100px;" aria-label="Salary: activate to sort column ascending">
                        Toro
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" style="width: 100px;" aria-label="Salary: activate to sort column ascending">
                        Acciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" class="odd">
                      <td>05234</td>
                      <td>25/04/19</td>
                      <td>1</td>
                      <td>07/06/19</td>
                      <td>18/08/19</td>
                      <td>Raxo</td>
                      <td></td>
                    </tr>
                    <tr role="row" class="even">
                      <td>05234</td>
                      <td>25/04/19</td>
                      <td>1</td>
                      <td>07/06/19</td>
                      <td>18/08/19</td>
                      <td>Raxo</td>
                      <td></td>
                    </tr>
                    <tr role="row" class="odd">
                      <td>05234</td>
                      <td>25/04/19</td>
                      <td>1</td>
                      <td>07/06/19</td>
                      <td>18/08/19</td>
                      <td>Raxo</td>
                      <td></td>
                    </tr>
                    <tr role="row" class="even">
                      <td>05234</td>
                      <td>25/04/19</td>
                      <td>1</td>
                      <td>07/06/19</td>
                      <td>18/08/19</td>
                      <td>Raxo</td>
                      <td></td>
                    </tr>
                    <tr role="row" class="odd">
                      <td>05234</td>
                      <td>25/04/19</td>
                      <td>1</td>
                      <td>07/06/19</td>
                      <td>18/08/19</td>
                      <td>Raxo</td>
                      <td></td>
                    </tr>
                    <tr role="row" class="even">
                      <td>05234</td>
                      <td>25/04/19</td>
                      <td>1</td>
                      <td>07/06/19</td>
                      <td>18/08/19</td>
                      <td>Raxo</td>
                      <td></td>
                    </tr>
                    <tr role="row" class="odd">
                      <td>05234</td>
                      <td>25/04/19</td>
                      <td>1</td>
                      <td>07/06/19</td>
                      <td>18/08/19</td>
                      <td>Raxo</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="bootstrap-data-table_info" role="status" aria-live="polite">
                  1 a 10 de 57 vacas
                </div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="bootstrap-data-table_paginate">
                  <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="bootstrap-data-table_previous">
                      <a href="#" aria-controls="bootstrap-data-table" data-dt-idx="0" tabindex="0" class="page-link">
                        Anterior
                      </a>
                    </li>
                    <li class="paginate_button page-item active">
                      <a href="#" aria-controls="bootstrap-data-table" data-dt-idx="1" tabindex="0" class="page-link">
                        1
                      </a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="bootstrap-data-table" data-dt-idx="2" tabindex="0" class="page-link">
                        2
                      </a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="bootstrap-data-table" data-dt-idx="3" tabindex="0" class="page-link">
                        3
                      </a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="bootstrap-data-table" data-dt-idx="4" tabindex="0" class="page-link">
                        4
                      </a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="bootstrap-data-table" data-dt-idx="5" tabindex="0" class="page-link">
                        5
                      </a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="bootstrap-data-table" data-dt-idx="6" tabindex="0" class="page-link">
                        6
                      </a>
                    </li>
                    <li class="paginate_button page-item next" id="bootstrap-data-table_next">
                      <a href="#" aria-controls="bootstrap-data-table" data-dt-idx="7" tabindex="0" class="page-link">
                        Siguiente
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="new_cow_modal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="largeModalLabel"> <strong>Nueva Vaca</strong></h5>
      </div>
      <%= form_with(model: @cow, local: true, id: "cow_form", class: "form-horizontal") do |form| %>
        <div class="modal-body">
          <div class="card-body card-block">
            <div class="row form-group">
              <div class="col col-md-3">
                <%= form.label :cow_type, class: "form-control-label" %>
              </div>
              <div class="col-12 col-md-9">
                <%= form.select :cow_type, options_for_select(Cow.cow_type_attributes_for_select), :prompt => "Seleccione..", :class => "form-control"  %>
              </div>
            </div>
            <div class="row form-group">
              <div class="col col-md-3">
                <%= form.label :status, class: "form-control-label" %>
              </div>
              <div class="col-12 col-md-9">
                <%= form.select :status, options_for_select(Cow.status_attributes_for_select), :prompt => "Seleccione..", :class => "form-control"  %>
              </div>
            </div>
            <div class="row form-group">
              <div class="col col-md-3">
                <%= form.label :caravan, class: "form-control-label" %>
              </div>
              <div class="col-12 col-md-9">
                <%= form.text_field :caravan, class: "form-control" %>
              </div>
            </div>
        
            <div class="row form-group">
              <div class="col col-md-3">
                <%= form.label :birth_date, class: "form-control-label" %>
              </div>
              <div class="col-12 col-md-9 input-group date" data-provide="datepicker">
                <%= form.text_field :birth_date, class: "form-control" %>
                <div class="input-group-addon">
                  <span class="fa fa-calendar"></span>
                </div>
              </div>
            </div>
        
            <div class="row form-group">
              <div class="col col-md-3">
                <%= form.label :tambo_id, class: "form-control-label" %>
              </div>
              <div class="col-12 col-md-9">
                <%= form.select :tambo_id, options_for_select([[@tambo, @tambo.id]])%>
              </div>
            </div>
          </div>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <%= form.submit "Guardar", id: "save_cow", class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
