<%= form_with(model: @event, url: [@tambo, @cow, @event], id: "", local: true, class: "form-horizontal") do |form| %>  
<%= hidden_field_tag 'service_date', @cow.service_date&.strftime('%Y/%m/%d') %>
  <div class="modal-body">
    <div class="card-body card-block">

      <div class="row form-group">
        <div class="col col-md-3">
          <%= form.label :date_event, class: "form-control-label" %>
        </div>
        <div class="col-12 col-md-9 input-group date" data-provide="datepicker">
          <%= form.text_field :date_event, class: "form-control" %>
          <div class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </div><br>
        </div>
      </div>
      
      <div class="row form-group">
        <div class="col col-md-3">
          <%= form.label :action, class: "form-control-label" %>
        </div>
        <div class="col-12 col-md-9">
          <%= form.select :action, options_for_select(Event.action_attributes_for_select, @event.action), :prompt => "Seleccione..", :class => "form-control"  %>
        </div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <%= form.label :notify_date, class: "form-control-label" %>
        </div>
        <div class="col-12 col-md-9 input-group date" data-provide="datepicker">
          <%= form.text_field :notify_date, class: "form-control" %>
          <div class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </div>
        </div>
        <div class="col col-md-3"></div>
        <div class="col-12 col-md-9 notify-mess"></div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <%= form.label :notify_description, class: "form-control-label" %>
        </div>
        <div class="col-12 col-md-9">
          <%= form.text_field :notify_description, class: "form-control" %>
        </div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <%= form.label :observations, class: "form-control-label" %>
        </div>
        <div class="col-12 col-md-9">
          <%= form.text_area :observations, class: "form-control" %>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <%= form.submit "Guardar", class: "btn btn-info" %>
  </div>
<% end %>
