<div class="card border border-status">
  <div class="card-header">
    <strong>Nuevo Evento</strong>
  </div>
  <div class="card-body card-block">
    <%= form_with(model: @event, local: true, id: "event_form", class: "form-horizontal") do |form| %>  
      <div class="modal-body">
        <div class="card-body card-block">
          
          <div class="row form-group">
            <div class="col col-md-3">
              <%= form.label :cow_id, class: "form-control-label" %>
            </div>
            <div class="col-12 col-md-9">
              <%= form.text_field :cow_id, class: "form-control", readonly: true%>
            </div>
          </div>

          <div class="row form-group">
            <div class="col col-md-3">
              <%= form.label :date_event, class: "form-control-label" %>
            </div>
            <div class="col-12 col-md-9 input-group date" data-provide="datepicker">
              <%= form.text_field :date_event, class: "form-control" %>
              <div class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </div>
            </div>
          </div>
          
          <div class="row form-group">
            <div class="col col-md-3">
              <%= form.label :action, class: "form-control-label" %>
            </div>
            <div class="col-12 col-md-9">
              <%= form.select :action, options_for_select(Event.action_attributes_for_select), :prompt => "Seleccione..", :class => "form-control"  %>
            </div>
          </div>

          <div class="row form-group">
            <div class="col col-md-3">
              <%= form.label :bull, class: "form-control-label" %>
            </div>
            <div class="col-12 col-md-9">
              <%= form.text_field :bull, class: "form-control" %>
            </div>
          </div>

          <div class="row form-group">
            <div class="col col-md-3">
              <%= form.label :notification, class: "form-control-label" %>
            </div>
            <div class="col-12 col-md-9 input-group date" data-provide="datepicker">
              <%= form.text_field :notification, class: "form-control" %>
              <div class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col col-md-3">
              <%= form.label :observations, class: "form-control-label" %>
            </div>
            <div class="col-12 col-md-9">
              <%= form.text_area :observations, class: "form-control" %>
            </div>
          </div>

        </div>    
      </div>
      <div class="modal-footer">
        <%= form.submit "Guardar", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
