<%= status_color(@cow.read_attribute_before_type_cast(:status)).html_safe %>
<div class="card border border-secondary">
  <div class="card-header" style="border-bottom:none">
    <%= image_tag(@cow.tambo.display_logo, class: "tambo-logo-mini") %>
    <strong>
      <%= link_to @cow.tambo.name, tambo_path(@cow.tambo), class: 'tambo-link' %>
    </strong>
    | <%= @cow.tambo.address %> - Tel: <%= @cow.tambo.phone_contact %>
  </div>
</div>

<div class="card border border-status">
  <div class="card-header status-color">
    <div class="float-left">
      <strong>
        <%= image_tag "#{@cow.status_number}_cow_icon.png", class: 'cow-icon' %>
      </strong>
      <span class="cow-show-title">
        -
      </span>
      <span class="cow-show-title">
        <%= @cow.caravan_with_type %>
      </span>
      <span class="cow-show-title">
        -
      </span>
      <span class="cow-show-title">
        <%= @cow.status_name %>
      </span>
    </div>
    <div class="float-right">
      <small>
        <span class="float-right mt-1">
          <%= link_to 'Editar', edit_tambo_cow_path(@tambo, @cow), class: 'edit-btn-cust btn-info' %>
        </span>
      </small>
    </div>
  </div>
  <div class="card-body p-0 card-block">
    <table class="table table-hover table-striped table-align-middle mb-0">
      <thead>
        <tr>
          <th>Caravana</th>
          <th>Fecha</th>
          <th>Evento</th>
          <th>Toro</th>
          <th>Notificacion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @cow.events.each do |event| %>
          <tr>
            <td><%= @cow.caravan_with_type %></td>
            <td><%= event.date_event%></td>
            <td><%= event.action_name %></td>
            <td><%= event.bull %></td>
            <td><%= event.notification %></td>
            <td>
              <%= link_to event_path(event) do %>
                <i class="fa fa-folder-open"></i>
              <% end %>
              <%= link_to edit_event_path(event) do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to event, method: :delete, data: { confirm: 'Esta seguro eliminar el evento?' } do %>
                <i class="fa fa-times"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to '', class: 'edit-btn-cust btn-info' ,:data => { :toggle => 'modal', :target => '#new_event_modal' } do %>
      <i class="fa fa-plus-square"></i>  
      Agregar
    <% end %>
  </div>
</div>
<div class="modal fade" id="new_event_modal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="largeModalLabel"> <strong>Nuevo Evento</strong></h5>
      </div>
      <%= form_with(model: @event, local: true, id: "event_form", class: "form-horizontal") do |form| %>  
        <div class="modal-body">
          <div class="card-body card-block">
            <%= form.hidden_field :cow_id %>
            
            <div class="row form-group">
              <div class="col col-md-3">
                <%= form.label :cow_id, class: "form-control-label" %>
              </div>
              <div class="col-12 col-md-9">
                <%= form.text_field :cow_id, class: "form-control", readonly: true%>
              </div>
            </div>

            <div class="row form-group">
              <div class="col col-md-3">
                <%= form.label :date_event, class: "form-control-label" %>
              </div>
              <div class="col-12 col-md-9 input-group date" data-provide="datepicker">
                <%= form.text_field :date_event, class: "form-control" %>
                <div class="input-group-addon">
                  <span class="fa fa-calendar"></span>
                </div><br>
              </div>
            </div>
            
            <div class="row form-group">
              <div class="col col-md-3">
                <%= form.label :action, class: "form-control-label" %>
              </div>
              <div class="col-12 col-md-9">
                <%= form.select :action, options_for_select(Event.action_attributes_for_select, @event.action), :prompt => "Seleccione..", :class => "form-control"  %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col col-md-3">
                <%= form.label :bull, class: "form-control-label" %>
              </div>
              <div class="col-12 col-md-9">
                <%= form.text_field :bull, class: "form-control" %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col col-md-3">
                <%= form.label :notification, class: "form-control-label" %>
              </div>
              <div class="col-12 col-md-9 input-group date" data-provide="datepicker">
                <%= form.text_field :notification, class: "form-control" %>
                <div class="input-group-addon">
                  <span class="fa fa-calendar"></span>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col col-md-3">
                <%= form.label :observations, class: "form-control-label" %>
              </div>
              <div class="col-12 col-md-9">
                <%= form.text_area :observations, class: "form-control" %>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <%= form.submit "Guardar", id: "save_event", class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
